<!DOCTYPE html>
<html>
<head>
  <title>RailsLab3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Show exchange rates", exchange_index_path() %>

<h2>Hello</h2>
<%= yield %>

</body>
</html>
