<!DOCTYPE html>
<html>
<head>
  <title>RailsLab3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <script type="text/javascript">
      $(function() {
          $( ".date-field" ).datepicker({dateFormat: 'dd-mm-yy', beforeShowDay: function(date) {
            var day = date.getDay();
              return [day == 1 || day == 2 || day == 3 || day == 4 || day == 5];
          }});
      });
  </script>
</head>
<body>

<%= link_to "Show exchange rates", exchange_index_path() %>

<h2>Hello</h2>
<%= yield %>

</body>
</html>
